/* MENU */
.nav > li {
	margin: 0 .75rem;
}
/* logout */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}
.nav > li > form > button.logout:focus {
    outline: none;
}
@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: right;
        width: 100%;
        padding: 10px 0;
    }
}

/* CONTAINER */
main > .container {
    padding-top: 3rem;
}

/* HEADER */
h1 {
	margin-bottom: 2rem;
}

/* GRID VIEW */
/* header */
.grid-view th {
    white-space: nowrap;
}
/* sort */
a.asc:after { 
	content: "\f063" !important;
	float: right;
}
a.desc:after { 	
	content: "\f062" !important;
	float: right;
}
/* pager */
.pagination {
	margin-bottom: 0;
}


/* GENERIC */
.cursor-pointer {
	cursor: pointer;
}



